.footer{
    display: flex;
    justify-content: space-between;
    margin:92px 48px 24px;
}

@media screen and (max-width: 768px) {
    .footer{
        margin: 88px 24px 24px;
    }
}

@media screen and (max-width: 700px) {
    .footer{
        gap: 20px;
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .footer{
        gap: 0;
    }
}

@media screen and (max-width: 320px) {
    .footer{
        margin: 64px 0 24px 16px;
    }
}